<ion-header>
  <ion-navbar>
    <ion-title>{{playlistTitle}}</ion-title>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
  <img src="http://am-a.akamaihd.net/image/?f=https://lolstatic-a.akamaihd.net/esports-assets/production/league/eu-lcs-b29u5nim.png&resize=120:120" />
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let videos of allVideos | gameNumber:'3'">
        {{videos.snippet.title}}
      </ion-item>
    </ion-list>
  <!-- <ion-list>
    <ion-item class="brackets" *ngFor="let bracket of schedule">
        <h1>{{bracket[0].bracketName}}</h1>
      <ion-list>
        <ion-item *ngFor="let match of bracket; let i = index;">
          {{match.name}} -
          {{match.scheduledTime | date:'short'}}</ion-item>
        </ion-list>
    </ion-item>
  </ion-list> -->
</ion-content>
